.content{
    height: 89%;
    width: 77%;
    // min-width: 1365px;
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);

}