.footer {
    height: 6%;
    background-color: #212123;
    min-height: 60px;
    color: white;
    text-align: center;
    box-shadow: 10 10 30px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
}